*.largefile filter=lfs diff=lfs merge=lfs -text
test/FeatureExtraction[[:space:]]Test/*.vtk filter=lfs diff=lfs merge=lfs -text
test/streamtest/*.vtk filter=lfs diff=lfs merge=lfs -text
*.vtk filter=lfs diff=lfs merge=lfs -text
Examples/Models/FeatureEdges_Cube.vtk -filter -diff -merge text
Examples/Models/FeatureEdges_NonManifold.vtk -filter -diff -merge text
"test/Streamline Test/StreamTest.vtk" -filter
"test/Format Validation Test/ansys/*.rth" filter=lfs diff=lfs merge=lfs -text
"test/Format Validation Test/ansys/*.rst" filter=lfs diff=lfs merge=lfs -text
ThirdParty/Python/pyAnsysLib/ansys_to_pvd_converter.exe filter=lfs diff=lfs merge=lfs -text
ThirdParty/Python/pyLsDynaLib/lsdyna_to_pvd_converter.exe filter=lfs diff=lfs merge=lfs -text
